<link href="/css/style.css" rel="stylesheet" type="text/css">
<h1 class="index-header">Hello <%= name %></h1>
<form class="index-form"  action="/logout?_method=DELETE" method="POST">
    <button class="index-button" type="submit">Log Out</button>
</form>