<link href="/css/style.css" rel="stylesheet" type="text/css">
<h1 class="login-header">Login</h1>
<form class="login-form" action="/login" method="POST">
    <div class="login-div">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
    </div>
    <div class="login-div">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <button class="login-button" type="submit">Login</button>
</form>
<a class="login-register" href="/register">Register</a>